*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html{
    /* variavéis */
    --bg-color: #EDF2FF;
    --text-color: #00082f;
  }
  
  body.dark{
    --bg-color: #a2aabb;
    --text-color: #ffffff;
  }
  
  a{
    text-decoration: none;
  }
  
  body{
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
  }
  
  ul {
    list-style: none; 
    text-decoration: none;
    margin: 48px 0;
  }
  
  .container{
    /* border: 7px red solid; */
    text-align: center;
    width: 300px;
    margin: 60px auto;
  }
  
  img{
    width: 100%;
  }
  
  ul li a{
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 166, 255, 0.563);
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    
    margin-bottom: 16px;
    border-radius: 6px;
    transition: background 400ms;
  }
  
  ul li a:hover{
    background: rgb(226, 48, 48);
  }
  
  img.avatar{
    border-radius: 50%;
    width: 120px;
    right: 120px;
    padding: 3.7px;
    border: rgba(0, 166, 255, 0.563) solid 4px;
  
  }
  
  h1{
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
  }
  
  .username{
  font-family: 'Roboto Mono', monospace;
  font-weight: 400px;
  opacity: 0.8;
  font-size: 18px;
  
  }
  
  footer{
    font-weight: 500px;
    font-size: 12px;
    opacity: 0.6;
  }
  
  footer a{
    color:var(--text-color);
  }
  
  footer:hover{
    opacity: 1;
  }